.embla {
  position: relative;
  padding: 10px;
  max-width: 70%;
  margin-right: auto;
  align-self: center;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
  fill: #a2afaf;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 25px;
}

.embla__button--next {
  right: 40px;
}

.embla__slide__center {
  position: relative;
  overflow: hidden;
  height: 220px;
  background-color: black;
  text-align: center;
  color: #f7f7f7;
}

.score {
  color: rgb(223, 203, 26);
  font-size: 20px;
}

.teams {
  color: whitesmoke;
  font-size: 15px;
}

.sport-img {
  margin-right: 10px;
}

.sport-time {
  color: gray;
}

.bet-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
